<div class="container">
  <!--
  <div>
    <ul>
      <li class="text" *ngFor="let topic of topics | async">
        {{topic.$value}}
      </li>
    </ul>
  </div>
  -->
  <div class="chat-massages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <ul>
      <li *ngFor="let msg of messages; let i=index">
        <div class="block-message">
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{msg.username}}</div>
          <div *ngIf='msg.sentdate'>{{msg.sentdate | date: 'dd/MM/yyyy hh:mm'}}: {{msg.comment}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>