
.inbox-chat { height: 450px; overflow-y: scroll; background-color: #eee; }
.chat-list { 
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.chat-people {
    overflow: hidden;
    clear: both;
}
.chat-img h5 { font-size: 15px; color: #464646; margin: 0 0 8x 0; font-weight: bold; text-transform: lowercase; }
.chat-img h5::first-letter { text-transform: uppercase !important; }
.chat-people span { margin-left: 11%; font-size: 13px; float: left; clear: both; }
.chat-ib p { font-size: 14px; color: #333333; margin: auto; }
.chat-img { float: left; width: 11%; }
.chat-img img { width: 50px; height: 50; border-radius: 50%; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
.chat-ib { 
    position: relative; 
    float: left; 
    padding: 15px; 
    width: 60%; 
    background-color: #fff; 
    margin-bottom: 5px; 
    border-radius: 0 .2em .2em .2em; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.chat-ib::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
    margin-left: -20px;
}
.chat-header {
    background: #333;
    padding: 20px;
}
.chat-header h3 {
    color: #ddd;
    text-align: center;
}

