.input-group { 
   border: 0.02em solid #ddd; 
}
.form-control {
    border-top-left-radius: 0;
}
.btn-primary {
    border-top-right-radius: 0;
    width: 100%;
    padding: 5px 25px;
    text-align: center;
}
.comment-control { border: none; padding: 5px 10px; width: 90%; }
.input-group-btn { border-left: 0.05em solid #eee; }
.input-group-btn div { text-align: center; padding: 5px 25px; }
.input-group-btn div i { color: #ccc; text-align: center; }